<p id="notice"><%= notice %></p>

<h1><%= @comment.title %></h1>

<p>
  <strong>Author:</strong>
  <%= @comment.author %>
</p>

<p>
  <strong>Body:</strong>
  <span><%= @comment.body %></span>
</p>

<p>
  <strong>Published at:</strong>
  <%= @comment.published_at %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'All comments', comments_path %> |
<%= link_to 'Back', post_path(@comment.post) %>

